---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"233d6acb-3ba6-4460-9d77-3d76b80fc153","expires_at":"2019-02-12T15:17:37.346Z"}'
  recorded_at: Tue, 12 Feb 2019 14:57:37 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Arturia"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=233d6acb-3ba6-4460-9d77-3d76b80fc153
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/2ce856fc-1249-40d9-b3a3-0b18271a9f83
    body:
      encoding: UTF-8
      string: '{"name":"Arturia","src":"http://todoable.teachable.tech/api/lists/2ce856fc-1249-40d9-b3a3-0b18271a9f83","id":"2ce856fc-1249-40d9-b3a3-0b18271a9f83"}'
  recorded_at: Tue, 12 Feb 2019 14:57:37 GMT
recorded_with: VCR 4.0.0
