---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"9f5a0c2b-9c0f-4b49-85e1-213333ae1883","expires_at":"2019-02-12T15:41:51.248Z"}'
  recorded_at: Tue, 12 Feb 2019 15:21:51 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Fender Telecaster"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=9f5a0c2b-9c0f-4b49-85e1-213333ae1883
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/c2e67915-133d-4725-97ed-4c1c6f9b2a0d
    body:
      encoding: UTF-8
      string: '{"name":"Fender Telecaster","src":"http://todoable.teachable.tech/api/lists/c2e67915-133d-4725-97ed-4c1c6f9b2a0d","id":"c2e67915-133d-4725-97ed-4c1c6f9b2a0d"}'
  recorded_at: Tue, 12 Feb 2019 15:21:51 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/c2e67915-133d-4725-97ed-4c1c6f9b2a0d/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Buy a new pickup"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=9f5a0c2b-9c0f-4b49-85e1-213333ae1883
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/c2e67915-133d-4725-97ed-4c1c6f9b2a0d/items/7d813d03-5d3d-497b-b3a7-c5718901d997
    body:
      encoding: UTF-8
      string: '{"name":"Buy a new pickup","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/c2e67915-133d-4725-97ed-4c1c6f9b2a0d/items/7d813d03-5d3d-497b-b3a7-c5718901d997","id":"7d813d03-5d3d-497b-b3a7-c5718901d997"}'
  recorded_at: Tue, 12 Feb 2019 15:21:52 GMT
recorded_with: VCR 4.0.0
