---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"fba4cebe-d448-4178-83c1-ba327cee364b","expires_at":"2019-02-18T21:24:55.742Z"}'
  recorded_at: Mon, 18 Feb 2019 21:04:55 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"music"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=fba4cebe-d448-4178-83c1-ba327cee364b
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/b5701f75-6b1b-4033-a160-10f22909793c
    body:
      encoding: UTF-8
      string: '{"name":"music","src":"http://todoable.teachable.tech/api/lists/b5701f75-6b1b-4033-a160-10f22909793c","id":"b5701f75-6b1b-4033-a160-10f22909793c"}'
  recorded_at: Mon, 18 Feb 2019 21:04:55 GMT
recorded_with: VCR 4.0.0
