---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"bab8b9be-7669-4809-90a7-b91754c4752f","expires_at":"2019-02-12T16:19:46.442Z"}'
  recorded_at: Tue, 12 Feb 2019 15:59:46 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Roland 88 "}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bab8b9be-7669-4809-90a7-b91754c4752f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/3fa4f470-e581-4b44-a7af-1d8ba454c2c2
    body:
      encoding: UTF-8
      string: '{"name":"Roland 88 ","src":"http://todoable.teachable.tech/api/lists/3fa4f470-e581-4b44-a7af-1d8ba454c2c2","id":"3fa4f470-e581-4b44-a7af-1d8ba454c2c2"}'
  recorded_at: Tue, 12 Feb 2019 15:59:47 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/3fa4f470-e581-4b44-a7af-1d8ba454c2c2/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Buy a new cover"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bab8b9be-7669-4809-90a7-b91754c4752f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/3fa4f470-e581-4b44-a7af-1d8ba454c2c2/items/6a279b60-6c32-42fc-a975-cac843598f6e
    body:
      encoding: UTF-8
      string: '{"name":"Buy a new cover","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/3fa4f470-e581-4b44-a7af-1d8ba454c2c2/items/6a279b60-6c32-42fc-a975-cac843598f6e","id":"6a279b60-6c32-42fc-a975-cac843598f6e"}'
  recorded_at: Tue, 12 Feb 2019 15:59:47 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/3fa4f470-e581-4b44-a7af-1d8ba454c2c2/items/6a279b60-6c32-42fc-a975-cac843598f6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=bab8b9be-7669-4809-90a7-b91754c4752f
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 12 Feb 2019 15:59:47 GMT
recorded_with: VCR 4.0.0
