---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"b8f3bc91-b9f3-41d4-a6e1-4f646ef65ea5","expires_at":"2019-02-12T16:12:32.746Z"}'
  recorded_at: Tue, 12 Feb 2019 15:52:33 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Akai MPK Mini"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=b8f3bc91-b9f3-41d4-a6e1-4f646ef65ea5
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/46c9d576-3f92-440a-882e-fd4a2c16f6d3
    body:
      encoding: UTF-8
      string: '{"name":"Akai MPK Mini","src":"http://todoable.teachable.tech/api/lists/46c9d576-3f92-440a-882e-fd4a2c16f6d3","id":"46c9d576-3f92-440a-882e-fd4a2c16f6d3"}'
  recorded_at: Tue, 12 Feb 2019 15:52:33 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/46c9d576-3f92-440a-882e-fd4a2c16f6d3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=b8f3bc91-b9f3-41d4-a6e1-4f646ef65ea5
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 12 Feb 2019 15:52:33 GMT
recorded_with: VCR 4.0.0
