---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"78afb038-a5b2-459b-82f0-36ee0f6317b7","expires_at":"2019-02-13T04:42:29.841Z"}'
  recorded_at: Wed, 13 Feb 2019 04:22:29 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"PRS Custom 24"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=78afb038-a5b2-459b-82f0-36ee0f6317b7
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/dac051a2-cf1f-4f11-a3ac-47c584ae9d88
    body:
      encoding: UTF-8
      string: '{"name":"PRS Custom 24","src":"http://todoable.teachable.tech/api/lists/dac051a2-cf1f-4f11-a3ac-47c584ae9d88","id":"dac051a2-cf1f-4f11-a3ac-47c584ae9d88"}'
  recorded_at: Wed, 13 Feb 2019 04:22:31 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/dac051a2-cf1f-4f11-a3ac-47c584ae9d88/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Customize fret board"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=78afb038-a5b2-459b-82f0-36ee0f6317b7
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/dac051a2-cf1f-4f11-a3ac-47c584ae9d88/items/b58ed10e-db64-4886-a101-c72afcc2b870
    body:
      encoding: UTF-8
      string: '{"name":"Customize fret board","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/dac051a2-cf1f-4f11-a3ac-47c584ae9d88/items/b58ed10e-db64-4886-a101-c72afcc2b870","id":"b58ed10e-db64-4886-a101-c72afcc2b870"}'
  recorded_at: Wed, 13 Feb 2019 04:22:31 GMT
- request:
    method: put
    uri: http://todoable.teachable.tech/api/lists/dac051a2-cf1f-4f11-a3ac-47c584ae9d88/items/b58ed10e-db64-4886-a101-c72afcc2b870/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=78afb038-a5b2-459b-82f0-36ee0f6317b7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Customize fret board finished
  recorded_at: Wed, 13 Feb 2019 04:22:31 GMT
recorded_with: VCR 4.0.0
