---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"81b2ecf6-c655-4ca4-9f92-8d0166472b0e","expires_at":"2019-02-12T12:58:52.250Z"}'
  recorded_at: Tue, 12 Feb 2019 12:38:52 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=81b2ecf6-c655-4ca4-9f92-8d0166472b0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"BSB","src":"http://todoable.teachable.tech/api/lists/d9003246-082a-44b7-8e2a-f6e02357de98","id":"d9003246-082a-44b7-8e2a-f6e02357de98"}]}'
  recorded_at: Tue, 12 Feb 2019 12:38:52 GMT
recorded_with: VCR 4.0.0
