---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"ff405b82-c5a8-42be-ab7b-0443d960a465","expires_at":"2019-02-18T21:21:26.246Z"}'
  recorded_at: Mon, 18 Feb 2019 21:01:26 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=ff405b82-c5a8-42be-ab7b-0443d960a465
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"BSB","src":"http://todoable.teachable.tech/api/lists/d9003246-082a-44b7-8e2a-f6e02357de98","id":"d9003246-082a-44b7-8e2a-f6e02357de98"},{"name":"Sneakers","src":"http://todoable.teachable.tech/api/lists/02f439b6-845c-4c0f-ba9e-a55d782f210a","id":"02f439b6-845c-4c0f-ba9e-a55d782f210a"},{"name":"Jordans","src":"http://todoable.teachable.tech/api/lists/f7848a59-9e7d-4ceb-b57e-5afe77a29608","id":"f7848a59-9e7d-4ceb-b57e-5afe77a29608"},{"name":"Epiphone","src":"http://todoable.teachable.tech/api/lists/58bed95b-6497-4346-90a8-94093c9709ba","id":"58bed95b-6497-4346-90a8-94093c9709ba"},{"name":"Gi[...]
