---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"dc67e64c-4bbc-42dc-a7ce-66f5bb0722bd","expires_at":"2019-02-12T13:33:09.044Z"}'
  recorded_at: Tue, 12 Feb 2019 13:13:09 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"PRS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=dc67e64c-4bbc-42dc-a7ce-66f5bb0722bd
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/1d0b5585-a801-4d3c-82d6-d152c38a26a2
    body:
      encoding: UTF-8
      string: '{"name":"PRS","src":"http://todoable.teachable.tech/api/lists/1d0b5585-a801-4d3c-82d6-d152c38a26a2","id":"1d0b5585-a801-4d3c-82d6-d152c38a26a2"}'
  recorded_at: Tue, 12 Feb 2019 13:13:09 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/1d0b5585-a801-4d3c-82d6-d152c38a26a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=dc67e64c-4bbc-42dc-a7ce-66f5bb0722bd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"PRS","items":[]}'
  recorded_at: Tue, 12 Feb 2019 13:13:09 GMT
recorded_with: VCR 4.0.0
