---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"700e4f29-0fae-4e38-b7aa-e7e394cc1808","expires_at":"2019-02-12T16:06:58.541Z"}'
  recorded_at: Tue, 12 Feb 2019 15:46:58 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Artuia Keylab"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=700e4f29-0fae-4e38-b7aa-e7e394cc1808
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/daff8ee2-ccd6-4304-9542-09bba5ddf543
    body:
      encoding: UTF-8
      string: '{"name":"Artuia Keylab","src":"http://todoable.teachable.tech/api/lists/daff8ee2-ccd6-4304-9542-09bba5ddf543","id":"daff8ee2-ccd6-4304-9542-09bba5ddf543"}'
  recorded_at: Tue, 12 Feb 2019 15:46:59 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/daff8ee2-ccd6-4304-9542-09bba5ddf543
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Artuia Keylab 49"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=700e4f29-0fae-4e38-b7aa-e7e394cc1808
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Artuia Keylab 49 updated
  recorded_at: Tue, 12 Feb 2019 15:46:59 GMT
recorded_with: VCR 4.0.0
